In [16]:
#Bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df = pd.read_csv('customer_churn_with_months.csv')

# Dicionário de Variáveis (Versão Resumida)

| Variável                            | Descrição                                                |
|-------------------------------------|----------------------------------------------------------|
| `ID`                                | Identificador único do cliente                           |
| `Tipo de empresa`                   | Categoria (MEI, ME, EPP, etc.)                           |
| `Fundação da empresa`               | Ano de fundação                                          |
| `Possui mais de um sócio`           | Empresa tem mais de um sócio? (Sim/Não)                  |
| `Funcionários`                      | Nº ou faixa de funcionários                              |
| `mes_churn`                         | Mês em que ocorreu o churn                               |
| `Meses de permanência`              | Meses de contrato até mai/2025                           |
| `Utiliza serviços financeiros`      | Usa serviços financeiros? (Sim/Não)                      |
| `PossuiContador`                    | Possui contador? (Sim/Não)                               |
| `Faz conciliação bancária`          | Faz conciliação bancária? (Manual/Automática)            |
| `Contrato`                          | Tipo de contrato (Mês-a-mês, Trimestral, etc.)           |
| `Emite boletos`                     | Emite boletos? (Sim/Não ou 1/0)                          |
| `Tipo de pagamento`                 | Forma de pagamento utilizada                             |
| `Receita mensal`                    | Receita mensal gerada                                    |
| `Receita total`                     | Receita acumulada até o momento                          |
| `Churn`                             | Cliente cancelou? (Sim/Não)                              |

### Frequência de Uso (por módulo)

| Variável                            | Descrição                              |
|-------------------------------------|----------------------------------------|
| `Frequência: Módulo financeiro`     | Uso do módulo financeiro               |
| `Frequência: Emissão de nota fiscal`| Uso da emissão de NF                   |
| `Frequência: Integração bancária`   | Uso da integração bancária             |
| `Frequência: Módulo de vendas`      | Uso do módulo de vendas                |
| `Frequência: Relatórios`            | Uso de relatórios                      |
| `Frequência: APIs de integração`    | Uso de APIs                            |

In [18]:
# Exploração univariada
df.head()

,ID,Tipo de empresa,Fundação da empresa,Possui mais de um sócio,Funcionários,Meses de permanência,Utiliza serviços financeiros,PossuiContador,Faz conciliação bancária,Frequência de utilização de feature do sistema: Módulo financeiro,...,Frequência de utilização de feature do sistema: Relatórios,Frequência de utilização de feature do sistema: Utilização de APIs de integração,Contrato,Emite boletos,Emite boletos.1,Tipo de pagamento,Receita mensal,Receita total,Churn,mes_churn
0,1,Micro empresa,2016,Sim,até 5 funcionários,1,Não,NaN,automática,Pouco uso,...,Pouco uso,Pouco uso,Mês-a-mês,1,Yes,Boleto - pagamento único,29.85,29.85,Não,NaN
1,2,Pequena empresa,2018,Não,até 5 funcionários,34,Sim,Não,automática,Uso frequente,...,Pouco uso,Pouco uso,Trimestral,0,No,Boleto - mês a mês,56.95,1889.50,Não,NaN
2,4,Pequena empresa,2016,Não,até 5 funcionários,45,Não,NaN,automática,Uso frequente,...,Pouco uso,Pouco uso,Trimestral,0,No,Cartão de crédito - pagamento único,42.30,1840.75,Não,NaN
3,7,Pequena empresa,2019,Não,6 ou mais funcionários,22,Sim,Sim,manual,Pouco uso,...,Uso frequente,Pouco uso,Mês-a-mês,1,Yes,Cartão de crédito - mês a mês,89.10,1949.40,Não,NaN
4,8,Micro empresa,2019,Não,até 5 funcionários,10,Não,NaN,automática,Uso frequente,...,Pouco uso,Pouco uso,Mês-a-mês,0,No,Boleto - mês a mês,29.75,301.90,Não,NaN

In [19]:
# Visão geral dos tipos de dados e valores nulos
overview = pd.DataFrame({
    "Tipo": df.dtypes,
    'Nulos': df.isnull().sum(),
    '% Nulos': df.isnull().sum()*100,
    'Valores Únicos': df.nunique(),
    'Exemplo de Valores': df.apply(lambda x: x.unique()[:3])
})
overview

,Tipo,Nulos,% Nulos,Valores Únicos,Exemplo de Valores
ID,int64,0,0,7043,"[1, 2, 4]"
Tipo de empresa,object,0,0,2,"[Micro empresa, Pequena empresa]"
Fundação da empresa,int64,0,0,21,"[2016, 2018, 2019]"
Possui mais de um sócio,object,0,0,2,"[Sim, Não]"
Funcionários,object,0,0,2,"[até 5 funcionários, 6 ou mais funcionários]"
Meses de permanência,int64,0,0,73,"[1, 34, 45]"
Utiliza serviços financeiros,object,0,0,2,"[Não, Sim]"
PossuiContador,object,682,68200,2,"[nan, Não , Sim]"
Faz conciliação bancária,object,0,0,3,"[automática, manual, não faz]"
Frequência de utilização de feature do sistema: Módulo financeiro,object,0,0,3,"[Pouco uso, Uso frequente, Nunca utilizou]"
Frequência de utilização de feature do sistema: Emissão de nota fiscal,object,0,0,3,"[Uso frequente, Pouco uso, Nunca utilizou]"
Frequência de utilização de feature do sistema: Integração bancária,object,0,0,3,"[Pouco uso, Uso frequente, Nunca utilizou]"
Frequência de utilização de feature do sistema: Módulo de vendas,object,0,0,3,"[Pouco uso, Uso frequente, Nunca utilizou]"
Frequência de utilização de feature do sistema: Relatórios,object,0,0,3,"[Pouco uso, Uso frequente, Nunca utilizou]"
Frequência de utilização de feature do sistema: Utilização de APIs de integração,object,0,0,3,"[Pouco uso, Nunca utilizou, Uso frequente]"
Contrato,object,0,0,3,"[Mês-a-mês, Trimestral, Anual]"
Emite boletos,int64,0,0,2,"[1, 0]"
Emite boletos.1,object,0,0,2,"[Yes, No]"
Tipo de pagamento,object,0,0,4,"[Boleto - pagamento único, Boleto - mês a mês,..."
Receita mensal,float64,0,0,1585,"[29.85, 56.95, 42.3]"
Receita total,float64,11,1100,6530,"[29.85, 1889.5, 1840.75]"
Churn,object,0,0,2,"[Não, Sim]"
mes_churn,object,5174,517400,2,"[nan, 04/2025, 05/2025]"